/* Square corners */
:root {
    --toolbarbutton-border-radius: 0px !important;
    --tab-border-radius: 0px !important;
}

/* Iosevka Nerd Font everywhere */
* {
    font-family: "Iosevka Nerd Font" !important;
}

/* Remove rounded corners */
#urlbar,
#urlbar-background,
#urlbar[open],
#searchbar,
.toolbarbutton-1,
toolbarbutton,
.tabbrowser-tab,
.tab-background,
.panel-arrowcontent,
.panel-subview-body,
menupopup,
.popup-internal-box {
    border-radius: 0 !important;
}

/* Remove rounded corners from the address bar */
#urlbar,
#urlbar-background,
.urlbar-background,
#searchbar,
.searchbar-textbox,
.searchbar-search-button,
.searchbar-textbox-background {
    border-radius: 0 !important;
}

/* Remove the rounded outline when the URL bar is focused */
#urlbar[breakout],
#urlbar[breakout][breakout-extend],
#urlbar[focused] {
    border-radius: 0 !important;
}

#urlbar[breakout] > #urlbar-background {
    border-radius: 0 !important;
}
